.idea/
.coverage
bin/
include/
lib/
pip-selfcheck.json
share/
dist/
*.pyc
build/
venv/
output/
compiler_compat/
ssl/
conda-meta/
etc/

*.ipynb_checkpoints**

etc/jupyter/jupyter_notebook_config.d/

**/.neptune/
**/src/configs/config.py
**/model.h5
**/train.png
**/figs/
**/models/
**/tensorboard_out/
**/model_weights/
**/prev_trained_models/
**/trained_model/
**/training_ckpt/
**/exp_config.yaml
**/exp_logs/
**/trained_model.zip
**/training_curves.png

**/training/LOGS/
